/*--------head------------*/

.head {
  padding: 20px 0;
  color: hsl(0, 3%, 73%);
  position: fixed;
  top: 0;
  width: 100%;
}
.logo{
  margin-bottom: 12px; 
}


.logo h1 {
   
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(73, 73, 73, 0.899);
  margin: 0 30px;
  height: 82px;
  position: fixed;
  /* left: 0; */
  top: 110px;
  /* right : 0; */
  width: 96%;
  
   
}
header .nav {
  display: flex !important;
  /* border-radius: 20px; */
  
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 31px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 31px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  
}
.toggle {
  display: none;
}

/* .flexSB {
  border-radius: 40px;
}  */
/*--------header------------*/
/* @media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}
 */

 @media (max-width: 768px) {
  .head {
    padding: 10px 0px; 
    /* padding-top: 20px; */
    position: absolute;
    width: auto;
    position: fixed;
    
    
  }

  .logo h1 {
    font-size: 24px; /* Adjust font size for mobile layout */
    /* width: auto; */
    /* position: absolute; */
  
  }

  
  header ul {
    padding: 10px 20px; /* Adjust padding for mobile layout */
  }

  header li {
    margin-right: 20px; /* Adjust margin for mobile layout */
  }

  .start {
    padding: 10px 30px; /* Adjust padding for mobile layout */
    clip-path: none; /* Remove clip-path for mobile layout */
   
  }

  .toggle {
    display: block; /* Display the toggle button for mobile layout */
  }
  
  header {
    /* margin: 0px; */
    padding-top: 20px;
    margin-left: 0px;
    width: 100%;
    position: fixed;
    top: 100px;                     /*navbar position*/
   
    
    
    background-color: #1eb2a6;
    
    /* position: fixed; */

  }
  header ul.flexSB {
    display: none;
    
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
  .social{
    
    margin-left: 80px;
    width: 300px;
    height: 300px;
   
    
  }
  .head .icon {
    margin-left: 0px;
  }


}

